/* @description: 前台首页样式
   @author LL
   @date 2022/11/12 17:36
   @version 1.0
*/
/* 导航栏样式 */
.nav-bar {
    background-color: #f7f9fa;
    padding-left: 7rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

/* 登录注册 */
.layui-col-md8 a {
    color: darkgray;
    text-decoration: none;
}

/* 登录注册鼠标移入效果 */
.layui-col-md8 a:hover {
    color: darkorange;
}

/* 鼠标移入效果 */
.layui-col-md2 a:hover {
    color: darkorange;
}

/* 返回首页 */
.layui-col-md2 a {
    color: darkgray;
    text-decoration: none;
}

.layui-col-md1 a {
    color: darkgray;
    text-decoration: none;
}

/* 商标 */
.img-circle {
    height: 9.375rem;
    width: 9.375rem;
    margin: 10% auto;
}

/* 搜索框样式 */
.layui-input {
    margin: 50px auto;
    border: 2px solid darkorange;
}

/* 搜索按钮样式 */
.layui-btn {
    margin-top: 50px;
    margin-left: 25px;
}
/* 导航栏样式 */
li {
    margin: 3.125rem;
    font-size: 14px;
}
/* 导航栏超链接样式 */
.left-nav a {
    color: darkgray;
    text-decoration: none;
}
/* 导航栏超链接移入效果 */
.left-nav a:hover {
    color: darkorange;
}

/*商品栏*/
.thumbnail{
    margin: 10px;
}
