/* @description: TODO
   @author 小花妹妹
   @date 2022/11/14 2:02
   @version 1.0
*/
h1{
	color: black;
	font-size: 45px;
	text-align: center;
	margin-top: 20px;
}
.layui-body {
	/* 头部herader 60px 底部 footer 40px */
	height: calc(100% - 104px);
	padding-bottom: 0!important;
}
.layui-footer {
	background: lightblue!important;
}
.home-page{
	height: 100%;
	box-sizing: border-box;
}
.box {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	/* 使h1和图片垂直显示 */
	flex-direction: column;
}
.box img {
	margin-top: 20px;
}
