/* @description: 个人主页-修改密码
   @author LL
   @date 2022/11/12 11:07
   @version 1.0
*/
/* 导航栏样式 */
.nav-bar {
    background-color: #f7f9fa;
    padding-left: 7rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
/* 返回首页 */
.layui-col-md8 a {
    color: darkgray;
    text-decoration: none;
}

/* 鼠标移入效果 */
.layui-col-md2 a:hover {
    color: darkorange;
}

/* 返回首页 */
.layui-col-md2 a {
    color: darkgray;
    text-decoration: none;
}

/* 导航栏样式 */
.nav-bar {
    background-color: #f7f9fa;
    padding-left: 7rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.layui-col-md6{
    font-size: 18px ;
}

.layui-col-md6 a {
    color: darkgray;
    text-decoration: none;
}

/* 鼠标移入效果 */
.layui-col-md2 a:hover {
    color: darkorange;
}

/* 返回首页 */
.layui-col-md2 a {
    color: darkgray;
    text-decoration: none;
}

.layui-col-md1 a {
    color: darkgray;
    text-decoration: none;
}

/* 鼠标移入效果 */
.layui-col-md6 a:hover {
    color: darkorange;
}
/* 导航栏样式 */
li {
    margin: 3.125rem;
    font-size: 16px;
}

li a{
    margin-left: 30px;
}
/* 导航栏超链接样式 */
.left-nav a {
    color: black;
    text-decoration: none;
}

/* 导航栏超链接移入效果 */
.left-nav a:hover {
    color: darkorange;
}

/* 此时所在页面 */
.active a{
    color: darkorange;
}

/* 表单整体 */
.whole {
    width: 900px;
    border: 1px solid #ddd;
}

/* 输入框 */
input {
    margin: 10px;
    width: 250px;
    border: 1px solid #ddd;
    outline: none;
    height: 30px;
    text-indent: 10px;
}

/* 基本信息显示条 */
.new-password {
    height: 60px;
    line-height: 60px;
    text-indent: 50px;
    background: #f5f8fa;
    border-bottom: 1px solid #ddd;
    font-size: 25px;
}

.font {
    font-size: 14px;
    margin-top: 20px;
    margin-left: 20px;
}

.input {
    margin-top: 15px;
    margin-left: 20px;
}

.red {
    color: red;
}


.submit {
    width: 70px;
    height:40px;
    margin-top: 30px;
    margin-left: 200px;
    margin-bottom: 5px;
    background-color: darkorange;
    color: #fff;
    border-radius: 10px;
}

.msg {
    color: darkorange;
    font-size: 14px;
    padding-left: 40px;
    padding-top: 10px;
    clear: both;
    font-weight: bold;
}