* {
    margin: 0;
    padding: 0;
    /*标准盒子 */
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../img/bg.jpg);
    background-position: center center;
    /* 背景图不平铺 */
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
}

.container {
    width: 1000px;
    height: 450px;
    border: 8px solid #EEEEEE;
    background-color: white;
    /*让div水平居中*/
    margin: 15px auto;
    margin-top: 15px;
}

.rg-left {
    float: left;
    margin: 15px;
}

.rg-left>p {
    color: #FFD026;
    font-size: 20px;
}

.rg-right {
    float: right;
    margin: 15px;
}

.td-left {
    width: 100px;
    text-align: right;
    height: 45px;
}

.td-center {
    padding-left: 50px;
}

.err-style {
    color: red;
}

.btn {
    width: 150px;
    height: 40px;
    background-color: #FFD026;
    border: #FFD026 1px solid;
    border-radius: 8px;
}

.btn-sub {
    margin-top: 40px;
    margin-left: 265px;
    width: 1000px;
}

a {
    color: hotpink;
    font-size: 1rem;
    /* 下划线消失 */
    text-decoration: none;
}

input {
    width: 400px;
    line-height: 20px;
    text-align: left;
}
